@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Favfont";
  src: url("/fonts/Bethany-Elingston.woff2") format("woff2");
}
@font-face {
  font-family: "HelveticaNow";
  src: url("/fonts/helveticanowtext-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Pangaia";
  src: url("/fonts/PPPangaia-Bold.woff2") format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #360000;
  --primary: #360000;
  --secondary: #ffffff;
  --primary-font: "Favfont";
  --secondary-font: "HelveticaNow";
  --new-font: "Pangaia";
}

body {
  background: var(--background);
  color: var(--secondary);
}

li {
  font-family: var(--secondary-font);
}
label {
  font-family: var(--secondary-font);
}
input {
  font-family: var(--secondary-font);
}
button {
  font-family: var(--primary-font);
}
